@model datatablesTests.Models.dataCollectionModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm("multiPageSubmitForm", "home", null, new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "pagePartialSection",
            }, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="dataSet-data-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">guid</th>
                                    <th scope="col">decimal</th>
                                    <th scope="col">date</th>
                                    <th scope="col">bolean</th>
                                    <th scope="col">enum</th>
                                    <th scope="col">select</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.dataItems.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@Model.dataItems[i].id</th>
                                        <td>@Model.dataItems[i].guid</td>
                                        <td>@Model.dataItems[i].decimalData</td>
                                        <td>@Model.dataItems[i].dateTimeData.Value.ToShortDateString()</td>
                                        <td>@Model.dataItems[i].boleanData</td>
                                        <td>@Model.dataItems[i].enumData</td>
                                        <td>@Html.CheckBoxFor(m => Model.dataItems[i].select, new { @class = "form-check-input" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-info" value="Submit" name="ButtonType" id="formSubmitButton" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $.validator.unobtrusive.parse("#form0");

        $('#dataSet-data-table').DataTable(
            {
                "stateSave": true,
                "order": [[0, "desc"]]
            });       
    });

</script>


